<% layout("/layouts/boilerplate") -%>

<div id="filters">
   <div class="filter">
      <a href="/listings/category/Trending">
             <i class="fa-solid fa-fire"></i>
             <p>Trending</p>
      </a>
   </div>
  <div class="filter">
    <a href="/listings/category/Rooms"> 
        <i class="fa-solid fa-bed"></i>
        <p>Rooms</p>
    </a> 
   </div>
   <div class="filter">
    <a href="/listings/category/Cities">
        <i class="fa-solid fa-city"></i>
        <p>Cities</p>
    </a>
   </div>
   <div class="filter">
    <a href="/listings/category/Mountains">
       <i class="fa-solid fa-mountain"></i>
        <p>Mountains</p>
    </a>
   </div>
   <div class="filter">
    <a href="/listings/category/Castles">
        <i class="fa-brands fa-fort-awesome"></i>
        <p>Castles</p>

    </a>
   </div>
   <div class="filter">
    <a href="/listings/category/Amazing Pools">
      <i class="fa-solid fa-person-swimming"></i>
      <p>Amazing Pools</p>
    </a>
   </div>
   <div class="filter">
    <a href="/listings/category/Camping">
        <i class="fa-solid fa-campground"></i>
        <p>Camping</p>
    </a>
    </div>
    <div class="filter">
        <a href="/listings/category/Arctic">
            <i class="fa-regular fa-snowflake"></i>
            <p>Arctic</p>
        </a>    
    </div>

    <div class="filter">
        <a href="/listings/category/Farm">
            <i class="fa-solid fa-cow"></i>
            <p>Farm</p>
        </a>
    </div>

    <div class="tax-toggle">
        <div class="form-check-reverse form-switch">
            <input class="form-check-input" type="checkbox" role="switch" id="flexSwitchCheckDefault">
            <label class="form-check-label" for="flexSwitchCheckDefault">Display total after taxes</label>
        </div>
    </div>
</div> 



<div class="row row-cols-lg-3 row-cols-md-2 row-cols-sm-1 mt-3">
    <% for(let listing of allListings) { %>
        <a href="/listings/<%= listing._id %>" class="listing-link">
        <div class="card col listing-card">
            <img src="<%= listing.image.url %>" class="card-img-top" alt="listing_image" style="height: 20rem;">
            <div class="card-img-overlay"></div>
                <div class="card-body">
                    <p class="card-text">
                        <b><%= listing.title %></b><br>
                         &#8377;<span class="price" data-price="<%= listing.price %>"><%= listing.price.toLocaleString("en-IN") %></span> /night  
                         <i class="tax-info">&nbsp; &nbsp; +18% GST</i>
                    </p>
                </div>
        </div>
        </a>
    <% } %>
</div>



<script>
    document.getElementById('flexSwitchCheckDefault').addEventListener('change', function () {
            const prices = document.querySelectorAll('.price');
            const taxRate = 0.18; // 18% GST

            prices.forEach(priceElement => {
                const basePrice = parseFloat(priceElement.getAttribute('data-price'));
                if (this.checked) {
                    // Calculate price with tax
                    const priceWithTax = basePrice + (basePrice * taxRate);
                    priceElement.innerHTML = priceWithTax.toLocaleString("en-IN");
                } else {
                    // Revert to base price
                    priceElement.innerHTML = basePrice.toLocaleString("en-IN");
                }
            });
        });
</script>